
{:pom {:group-id "respo",
       :artifact-id "notify",
       :version "0.1.3",
       :name "Notifications with Respo Effects API"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
